@font-face{
  font-family: tiny;
  src: url(assets/font/tiny/tiny.otf);
}

@font-face{
  font-family: wendy;
  src: url(assets/font/pixel_maz.otf);
}

@font-face{
  font-family: pixel-advanced;
  src: url(assets/font/pixel-bit-advanced.ttf);
}

html, body {
  height: 100%;
  width: 100%;
  padding:0px;
  margin:0px;
  background-color:dimgray;
  overflow: hidden;
}
canvas{
  /*border: 4px solid white;*/
  background: black;
  font-smooth: never;
  -webkit-font-smoothing : none;
}
